skills/bundled/n8n-workflow-architect/assets/example-basic-workflow.json
{
  "name": "Example Webhook to API",
  "nodes": [
    {
      "id": "1",
      "name": "Incoming Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "example/webhook",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "2",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "userEmail",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "eventType",
              "value": "={{ $json.body.type }}"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Call External API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [800, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/events",
        "jsonParameters": true,
        "bodyParametersJson": "={{ { email: $json.userEmail, type: $json.eventType } }}"
      }
    }
  ],
  "connections": {
    "Incoming Webhook": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Call External API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
